
  .box {
    padding: 0;
    width: 343px;
  }
  .main3-2 {
    width: 100%;
    padding: 0; 
  }
  .main3-33{
      margin-top: 11rem;
      margin-bottom: 2rem;
  }
  .main3-tp {
      margin-top: 2rem;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .main7{
      margin-top: 2rem;
  }
  .main7 p{
      margin-left: 3rem;
  }
  .main3-3,.main3-33{
      margin-left: 2rem;
      margin-right: 2rem;
  }
  .main3-2 img{
      margin: auto;
  }
  .main4-3,.main4-4{
      margin-left: 12px;
  }
